<%- include('includes/header'); -%>
<main class="py-4">
    <div class="container">
        <div class="container">
            <div class="row justify-content-center align-items-center mt-5">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Forgot Password</div>
        
                        <div class="card-body">
                            <form method="POST" action="/forgot-password">
        
                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
        
                                    <div class="col-md-6">
                                        <input id="email" type="email" class="form-control" name="email" required autocomplete="email" autofocus>
                                    </div>
                                </div>
        
                                <div class="form-group row mb-0">
                                    <div class="col-md-8 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            Send Token
                                        </button>
        
                                        <a class="btn btn-link" href="/login">
                                            Remember Your Password?
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('includes/footer'); -%>
