<%- include('../includes/header'); -%>
<main class="py-4">
    <div class="container">
        <div class="container">
            <div class="row justify-content-center align-items-center mt-5">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Register</div>
        
                        <div class="card-body">
                            <form>

                                <div class="form-group row">
                                    <label for="name" class="col-md-4 col-form-label text-md-right">Full Name</label>
        
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="name" required autofocus>

                                        <span class="invalid-feedback" role="alert">
                                            <strong>Name Error</strong>
                                        </span>
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
        
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" name="email" required>

                                        <span class="invalid-feedback" role="alert">
                                            <strong>Mail Error</strong>
                                        </span>
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
        
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" name="password" required>

                                        <span class="invalid-feedback" role="alert">
                                            <strong>Password Error</strong>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="cPassword" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
        
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" name="cPassword" required>

                                        <span class="invalid-feedback" role="alert">
                                            <strong>Password is not the same</strong>
                                        </span>
                                    </div>
                                </div>
        
                                <div class="form-group row mb-0">
                                    <div class="col-md-8 offset-md-4">
                                        <button class="btn btn-primary">
                                            Register
                                        </button>
        
                                        <a class="btn btn-link" href="/login">
                                            Have An Account?
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Submitting Form Script -->
<script>

    // Get form
    const form = document.querySelector('form');

    // Add event listener to form
    form.addEventListener('submit', (event) => {

        // Prevent Form's Default Action
        event.preventDefault();

        // Get inputs
        const name = form.name.value;
        const email = form.email.value;
        const password = form.password.value;
        const cPassword = form.cPassword.value;

        // Log to test
        console.log(name, email, password, cPassword);
    });
</script>
<%- include('../includes/footer'); -%>
